# /etc/systemd/system/trump-pull.service

[Unit]
Description=Periodically pull docker-compose images and restart if needed

[Service]
WorkingDirectory=/opt/trump-docker
ExecStartPre=/usr/bin/docker pull slothofanarchy/trump-preprocessing:latest
ExecStart=/opt/trump-docker/pull.sh
